/* =========================================== 공통영역 ===========================================*/
/* ============================================================================================*/
@font-face {
  font-family: 'GmarketSansBold', serif, sans-serif;
  src: local('GmarketSansBold') url('./fonts/GmarketSansBold.woff') format('woff');
}
:root {
  /* 폰트 종류 
  N: 기본, B: 굵게 */
  --font-familyN: 'Noto Sans KR', serif, sans-serif;
  --font-familyB: 'GmarketSansBold', serif, sans-serif;
}

* {
  /* 기본폰트 N */
  font-family: var(--font-familyN);
}

a {
  text-decoration: none;
  color: #134aa9;
}




/* =========================================== 헤더 ===========================================*/
/* ============================================================================================*/

#App header.header {
  height: 100px;
}

.header.container {
  width: 1400px;
  height: 100px;
  margin: auto;
  position: relative;
}

/*------------ 헤더 로고 설정------------------ */
.header div.header__logo {
  position: absolute;
  width: 150px;
  height: 100px;
}

.header .header__logo img {
  padding: 10px 0;
  height: 80px;
  margin-top: 8px;
  cursor: pointer;
}

/*------------ 헤더 메뉴 설정------------------ */


.header div.header__menu--bg {
  display: none;
}

.header div.header__menu {
  width: 1050px;
  height: 30px;
  bottom: 35px;
  left: 150px;
  position: absolute;
  z-index: 9;
}

.header div.header__menu ul.header__menu--list {
  display: flex;
  justify-content: space-around;
  
}

.header div.header__menu .list--item a {
  font-family: var(--font-familyB);
  display: block;
  padding-right: 10px;
  overflow: visible;
}

.header div.header__menu .list--item h2 {
  text-align: left;
  padding-right: 10px;
  font-weight: 600;
  white-space: nowrap;
}

.header div.header__menu ul.header__menu--list li a:hover {
  color: #2A2E35;
}

.header div.header__menu ul.header__menu--list div {
  line-height: 300%;
  margin-top: 50px;
}

div.header__menu ul.header__menu--list .list--item a {
  color: #124AA9;
  font-size: 21px;
}

.header__menu--list:hover .list--item div.contents.hide {
  display: block;
}

.header__menu--list:hover .list--item div.contents.hide::before {
  content: "";
  width: 100%;
  height: 250px;
  background-color: #eff4fe;
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.header__menu--list .list--item div.contents.hide {
  display: none;
}

.header__menu--list .list--item div.contents.hide ul {
  width: 50px;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}

.header__menu--list .list--item div.contents.hide ul li{
  width: fit-content;
  position: relative;
}

.header__menu--list .list--item div.contents.hide ul li::after {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 100%;
  right: -15px;
  top: 20px;
  display: inline-block;
  position: absolute;
  transition: 0.3s ease;
  background-color: #134aa9;
  opacity: 0;
  scale: .1;
}

.header__menu--list .list--item div.contents.hide ul li:hover::after {
  background-color: #134aa9;
  scale: 1;
  opacity: 1;
  height: 8px;
  width: 8px;
  right: -20px;
}

/*------------ 헤더 서비스 설정------------------ */

.header .header__service {
  display: flex;
  justify-content: flex-end;
  right: 0;
  width: 200px;
  top: 35px;
  position: absolute;
}

.header .header__service .material-icons {
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
}

.header .header__service div .material-icons span {
  font-size: 14px;
}

.header .header__service div:last-child a {
  margin-right: 0px;
}


/* ======================================== 바디 섹션1 ==============================================*/
/* ============================================================================================*/

section div.visual {
  width: 100%;
  height: 700px;
  margin: auto;
}

section .swiper.visual__container{
  width: 1400px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.swiper-wrapper.visual__contents{
  z-index: 5;
}

.swiper-wrapper.visual__contents .swiper-slide {
  position: relative;
}

.visual__contents .visual__contents--img {
  width:900px;
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
}

.visual__contents .visual__contents--img img {
  width:900px;
  height: 600px;
  position: absolute;
}

.visual__contents .visual__contents--text {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.visual__contents .visual__contents--text .visual__contents--text-sub p{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  word-break: keep-all;
  text-indent: 10px;
  letter-spacing: -1.5px;
  white-space: nowrap;
  color: #134aa9;
}

.visual__contents .visual__contents--text .visual__contents--text-title {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  word-break: keep-all;
  margin: 18px 0;
  color: #124AA9;
}

.visual__contents .visual__contents--text .visual__contents--text-date {
  font-family: var(--font-familyN);
  font-size: 18px;
  margin-top: 9px;
  font-weight: 500;
  line-height: 18px;
  word-break: keep-all;
  flex-basis: 1;
  color: #134aa9;
}

/*------------ nav 메뉴 설정 ------------------ */

nav {
  width: 1400px;
  margin: auto;
  background-color: #eff4fe;
  position: absolute;
  left: 50%;
  top: 720px; 
  transform: translate(-50%, 0);
}

div .sub-menu .sub-menu__contents {
  width: 100%;
  height: 130px;
  font-family: var(--font-familyB);
  font-weight: bolder;
}

.sub-menu__contents ul.sub-menu__contents--list {
  display: flex;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sub-menu__contents ul.sub-menu__contents--list li {
  flex-grow: 1;
  height: 35px;
  font-family: var(--font-familyB);
  font-weight: 700;
}

.sub-menu__contents ul.sub-menu__contents--list li a{
  font-size: 25px;
  color: #2A2E35;
  display: block;
  position: relative;
}

.sub-menu__contents ul.sub-menu__contents--list li a:hover{
  color: #124AA9;  
}

.sub-menu__contents ul.sub-menu__contents--list li a::after{
  content: url(https://firebasestorage.googleapis.com/v0/b/clonecoding-imgs.appspot.com/o/GGCF%2Farrow_forward_black_24dp.svg?alt=media&token=295d41ae-1b05-42c1-9141-e3478624e2d4);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 60px;
  transition: all 0.3s ease;
}

.sub-menu__contents ul.sub-menu__contents--list li a:hover::after{
  content: url(https://firebasestorage.googleapis.com/v0/b/clonecoding-imgs.appspot.com/o/GGCF%2Farrow_forward_black_24dp.svg?alt=media&token=295d41ae-1b05-42c1-9141-e3478624e2d4);
  position: absolute;
  right: 50px;
  transition: all 0.6s ease;
}




/* ======================================== 바디 메인 ==============================================*/
/* ============================================================================================*/

main section.main-contents {
  background-color: #134aa9;
  width: 100%;
  height: 1200px;
}

.main-contents.container.visual {
  position: relative;
  width: 1400px;
  top: 300px;
  height: 1000px;
  margin: auto;
  /* margin-bottom: 200px; */
  font-family: var(--font-familyB);
}


.main-contents__visual .main-contents__visual--title h3{
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.main-contents__visual .main-contents__visual--title p{
  font-family: var(--font-familyB);
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.main-contents__visual .main-contents__visual--title a{
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 0;

}
.main-contents__visual .main-contents__visual--title a:hover{
  color: #8ebff0;
}


.main-contents__visual .main-contents__visual--cal {
display: flex;
justify-content: space-between;
align-items: center;
margin: 60px 25px 25px;
}


.main-contents__visual .main-contents__visual--cal-month {
color: #8ebff0;
}


.main-contents__visual .main-contents__visual--cal-month .pre-month,
.main-contents__visual .main-contents__visual--cal-month .next-month{
  font-size: 20px;
  color: #8ebff0;
  height: 25px;
  margin: 0 4px;

}

.main-contents__visual .main-contents__visual--cal-month .cal-show-month{
  font-weight: 600;
  font-size: 38px;
  color: #8ebff0;
}



.main-contents__visual .main-contents__visual--cal-month .cal-show-year{
  display: block;
  font-size: 14px;
  color: #8ebff0;
  text-align: center;
  margin-top: -5px;
}



.main-contents__visual .main-contents__visual--cal-date {
display: flex;
font-family: var(--font-familyB);
width: 1240px;
color: #8ebff0;
font-size: 16px;
justify-content: space-between;
align-items: center;
}

.main-contents__visual .main-contents__visual--cal-date span{

  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 37px;

}

.main-contents__visual .main-contents__visual--cal-date span:hover{
  text-decoration: underline;
  cursor: pointer;
}


.main-contents__visual .main-contents__visual--cal-date span.today{
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 600;
  color: #fff;
  position: relative;
}



.main-contents__visual .main-contents__visual--cal-date span.today::before{
  content:'';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  display: block;
  position: absolute;
  text-decoration: underline;
}


/* ====================swiper영역==================================*/

.swiper.main-contents__visual{
  width: 1200px;
  height: 600px;
  display: block;
}

.swiper.main-contents__visual .swiper-wrapper {
  margin-top: 30px;
}

.main-contents .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main-contents .swiper .swiper-wrapper .swiper-slide img {
  border-radius: 15px;
  display: block;
  height: 440px;
  width: 300px;
  object-fit: cover;
}

.main-contents .swiper .swiper-wrapper .swiper-slide-active img {
  border-radius: 15px;
  display: block;
  width: 370px;
  height: 525px;
  object-fit: cover;
  top: 0;
}


.main-contents .swiper .swiper-wrapper p {
  color: #fff;
  width: 300px;
  display: block;
  
}


.main-contents .swiper .swiper-wrapper .swiper-slide > div {
  margin-top: 20px;
}

.main-contents .swiper .swiper-wrapper .swiper-slide p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 100%;
  text-align: left;
}

.main-contents .swiper .swiper-wrapper .swiper-slide p.tag {
  color: #00b1e7;
  display: inline;
  font-size: 16px;
}

.main-contents .swiper .swiper-wrapper .swiper-slide p span {
  color: #fff;
}


.main-contents .swiper .swiper-wrapper .swiper-slide-active div.visual-text{
  display: none;
  opacity: 0;
}

.main-contents .swiper .swiper-wrapper .swiper-slide-active div.active-text{
  position: absolute;
  opacity: 0.8;
  background-color: #000;
  border-radius: 15px;
  display: block;
  width: 370px;
  height: 525px;
  object-fit: cover;
  top:0;
  margin: 0;
}

.main-contents .swiper .swiper-wrapper .swiper-slide-active:hover::after{
  content: "MORE";
  background-color: #fff;
  display: inline-block;
  font-size: 13px;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  bottom: 250px;
  line-height: 95px;
  z-index: 9;
}


/* ----------------메인 컨텐츠 인포 컨테이너----------------------------- */

article.main-contents.container.info{
  height: 570px;
  width: 100%;
  margin-top: 300px;
}

article.main-contents.container.info h3{ 
  font-family: inherit;
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 15px;
}

.main-contents.container.info div.main-contents__space{
  height: 570px;
  width: 1400px;
  margin: auto;
  position: relative;
}

article.main-contents div button.more-btn
{
  background-color: #fff;
  border: 2px solid #124AA9;
  color: #124AA9;
  line-height: 90px;
  font-family: inherit;
  font-weight: 800;
  font-size: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  right: 15px;
  top: 0;
}

article.main-contents div button.more-btn:hover{
  background-color: #124AA9;
  color: #fff;
  animation: btn-hover .3s ease 1;
}

@keyframes btn-hover {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.main-contents.container.info div.main-contents__space--btns {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 840px;
  margin-top: 50px;
}

.main-contents.container.info ul.main-contents__space--btns-list li {
  background-color: #fff;
  display: inline-block;
  margin: 10px 10px 10px 0;
  font-size: 20px;
  height: 75px;
  font-weight: 500;
  color: #124AA9;
  border: 2px solid #124AA9;
  border-radius: 50px;
  padding: 0 30px;
  word-break: keep-all;
  line-height: 55px;
}

.main-contents.container.info ul.main-contents__space--btns-list:nth-of-type(1) li:first-child  {
  background-color: #124AA9;
  color: #fff;
}

.main-contents.container.info ul.main-contents__space--btns-list li:hover {
  background-color: #124AA9;
  color: #fff;
  transition: all .3s ease;
}

.main-contents.container.info .main-contents__space--img {
  width: 560px;
  height: 380px;
  display: block;
  position: absolute;
  right:0;
  top: 130px;
}


.main-contents.container.info .main-contents__find {
  height: 250px;
  width: 1400px;
  margin: auto;
  margin-top: 200px;
  position: relative;
}

.main-contents.container.info .main-contents__find--img{
  height: 250px;
  position: absolute;
  right: 120px;
  top:0;
}

.main-contents.container.info div.main-contents__find div button.more-btn
{
  position: absolute;
  top: 100px;
}



.main-contents.container.info .main-contents__sns {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 150px;
  background-color: #eff4fe;
  position: relative;
}



.main-contents.container.info .main-contents__sns div.main-contents__sns--title{
  width: 1400px;
  height: 630px;
  display: block;
  margin: auto;
  padding-top: 120px;
  position: relative;
}


.main-contents.container.info .main-contents__sns div button.more-btn
{
  position: absolute;
  display: block;
  left: 40px;
  top: 300px;
}




.main-contents.container.info .main-contents__sns .swiper{
  /* width 840 */
  width: calc( 280px * 3 );
  height: 250px;
  position: absolute;
  top: 250px;
  left: 60%; 
  /* left 이동 후 가져오기 */
  margin-left: calc(( 280px * 3) / -2 );
}


.main-contents.container.info .main-contents__sns .swiper ul li img{
  border-radius: 20px;
  width: 240px;
  height: 240px;
  display: block;
}









.main-contents .main-contents__notice{
  width: 100%;
  margin: auto;
  background-color: #eff4fe;
  position: relative;
}





.main-contents .main-contents__notice div.main-contents__notice--title{
  /* background-color: #333; */
  width: 1400px;
  margin: auto;
  padding-top: 120px;
}


/* .main-contents .main-contents__notice div.main-contents__notice--title h3{
  margin-top: 100px;
}
 */


.main-contents .main-contents__notice ul.main-contents__notice--list{
  /* background-color: #333; */
  width: 1400px;
  /* border: 1px solid #000; */
  display: flex;
  margin: auto;
  justify-content: space-between;
}


.main-contents .main-contents__notice ul.main-contents__notice--list li{
  width: calc((1100px / 3) + 60px);
  margin-top: 70px;
  background-color: #fff;
  /* border: 1px solid #000; */
  justify-content: center;
  align-items: space-between;
  /* flex-wrap: wrap; */
  padding: 40px 40px 60px;
  font-family: inherit;
}

.main-contents .main-contents__notice ul.main-contents__notice--list li p{
  font-size: 18px;
}

.main-contents .main-contents__notice ul.main-contents__notice--list li p:nth-of-type(1){
  color: #ababab;
}

.main-contents .main-contents__notice ul.main-contents__notice--list li p:nth-of-type(2){
  font-size: 29px;
  font-weight: 500;
  margin: 20px 0 40px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-contents .main-contents__notice ul.main-contents__notice--list li p:nth-of-type(3){
  line-height: 28px;
  margin: 0 5px 80px;
  height: 56px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  color: #787d86;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.main-contents .main-contents__notice ul.main-contents__notice--list li p:nth-of-type(4){
  font-size: 13px;
  color: #ababab;
  position: relative;
}

.main-contents .main-contents__notice ul.main-contents__notice--list li p:nth-of-type(4)::after{
  content: "+";
  width: 40px;
  height: 40px;
  font-size: 50px;
  display: inline;
  position: absolute;
  right: 0;
}


footer .footer {
  height: 280px;
  width: 100%;
  background-color: #333;
  position: absolute;
  bottom: 0;
}

footer .footer div{
  height: 280px;
  width: 1400px;
  background-color: rgb(180, 28, 28);
}